body {
  font-family: "Bree Serif", serif;
  font-family: "Concert One", cursive;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* NavbarDesign */

.wrapper {
  width: 1170px;
  margin: auto;
}
header {
  background: linear-gradient(rgba(228, 141, 11, 0.8), rgba(240, 135, 16, 0.8));
  height: 20vh;
  background-size: cover;
}
.nav-area {
  float: right;
  list-style: none;
  margin-top: 30px;
}
.nav-area li {
  display: inline-block;
}
.nav-area li a {
  color: rgb(121, 59, 59);
  text-decoration: none;
  padding: 5px 20px;
  font-family: poppins;
  font-size: 20px;
  text-transform: uppercase;
}
.nav-area li a:hover {
  background: rgb(228, 139, 139);
  color: rgb(39, 36, 36);
}
.logo {
  float: left;
}
.logo img {
  width: 20%;
  height: 20%;
  margin-left: -5%;
  padding-top: 15px;
}
/* toppage design */

h1 {
  font-size: 40px;
  color: rgb(151, 137, 137);
}
.pink-color {
  color: palevioletred;
  font-size: 50px;
}
p {
  font-size: 20px;
  color: rgb(102, 98, 98);
}
#middle-part {
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;
  color: rgb(102, 98, 98);
}
.toppart-container {
  margin-left: 5%;

  padding-top: 5%;
}

.half-width {
  width: 50%;
  padding-left: 6%;
  padding-right: 6%;
}
.half-width p {
  padding-right: 140px;
}
.half-width img {
  width: 80%;
  margin-left: 30px;
}

.button-link {
  background-image: linear-gradient(rgb(206, 42, 69), rgb(226, 112, 131));
  padding: 12px 36px;
  text-decoration: none;
  color: white;
  border-radius: 25px;
}
/* middlepage design */
.middle-one-container {
  background-image: url(images/Frame\ 59.jpg);
  background-repeat: no-repeat;
  display: flex;
  padding-top: 5%;
}
.flexible-container {
  display: flex;
  margin-left: 60px;
  height: 100vh;
  width: 100%;
  padding-right: 40%;
}

.recipie-image {
  width: 55%;

  margin-left: 10%;
  margin-right: 10%;
  padding-left: 2%;
  padding-bottom: 2%;
  margin-bottom: 6%;
  border-radius: 10px;
  box-shadow: rgb(158, 156, 156), rgb(245, 245, 197);
}
.recipie-image img {
  width: 80%;
  margin-left: 30px;
  padding: 5% 5%;
}
h4 {
  display: flex;
}

/* card section */
.card {
  background-color: rgb(217, 243, 234);
  padding: 15px;
  margin: 20px 40px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
}
.card .img-area img {
  border-radius: 20px;
  width: 100%;
}
#social-media {
  display: flex;
  border: white solid;
  box-shadow: 1px 1px 10px 10px rgb(241, 238, 238);
  border-radius: 30px;
  margin-top: 10%;
  width: 80%;
  margin-left: 10%;
}

#social-media h1 {
  font-size: 30px;
  margin-bottom: -18px;
}
#social-media p {
  margin-bottom: 30%;
}
.details-container {
  margin-left: 15%;
}

#footer {
  margin-top: 2%;
  background-color: rgb(22, 20, 20);
  color: white;
}
#footer h1 {
  margin-left: 40%;
  padding-top: 5%;
}
#footer span {
  color: rgb(240, 116, 94);
}
#footer p {
  color: rgb(239, 248, 248);
  margin-left: 33%;
  padding-bottom: 8%;
}
.login-controller {
  margin-top: 60px;
  display: flex;
  background-image: url(images/Frame\ 57.jpg);
  background-repeat: no-repeat;
  padding-left: 30px;
  height: 60vh;
  padding-top: 3%;
  padding-left: 35%;
  padding-bottom: 5%;
  display: flex;
  margin-bottom: 120px;
}

.button-link {
  margin-left: 20%;
}
